/* VARIABLES */
:root {
    --color-orange: #EB5832;
    --color-blue: #6BBAAD;
    --color-grey: #daeae7;
    --color-yellow: #eeb951;
}


/* UTILS */
.color-orange {
    color: var(--color-orange);
}
.color-blue {
    color: var(--color-blue);
}

.color-yellow {
    color:var(--color-yellow);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-grey {
    background-color: var(--color-grey);
}

.font-titan {
    font-family: "Titan One", sans-serif;
}


/* HOME STYLES */

#home {
    height: 800px;
}

.bg-holder {
    background-image: url("/assets/img/ckc/hero-homeA.jpg");
}

.logo {
    width: 200px;
}

.bg-holder-2 {
    background-image: url("/assets/img/ckc/hero-2detalleB.jpg");
}

.btn-galeria {
    width: 140px;
}

#kits {
    background-image: url("/assets/img/ckc/bg-kits.jpg");
    background-size: cover;
}


